/**
 * Contextual links RTL style.
 */

.contextual-links-region-proxy .contextual-links-wrapper {
  left: auto;
  right: -2px;
  top: -1px;
}

.contextual-links-region-proxy .contextual-links {
  left: 0;
  right: auto;
  text-align: right;
}

.contextual-links-region-proxy .contextual-links-trigger {
  left: 0;
  right: auto;
  text-indent: 9999px;
}

.contextual-links-region-proxy .contextual-links-wrapper.edge-collision {
  left: -1px;
  padding-left: 0;
  padding-right: 0;
  right: auto;
}

.contextual-links-region-proxy .contextual-links-wrapper.edge-collision .contextual-links-trigger {
  left: 0;
  right: auto;
}

.contextual-links-region-proxy .contextual-links-wrapper.edge-collision .contextual-links {
  right: auto;
}

.contextual-links-region-proxy .contextual-links-wrapper .contextual-links.edge-collision {
  left: auto;
  right: -1px;
}