/**
 * Contextual links proxy.
 */
.contextual-links-region-proxy {
  display: none;
  position: absolute;
  z-index: 210;
}

.contextual-links-region-proxy-outline {
  border-style: dotted;
  border-width: 0;
  display: none;
  position: absolute;
  z-index: 200;
}

.contextual-links-region-proxy-outline.outline-top {
  border-width: 1px 0 0;
}

.contextual-links-region-proxy-outline.outline-right {
  border-width: 0 1px 0 0;
}

.contextual-links-region-proxy-outline.outline-bottom {
  border-width: 0 0 1px;
}

.contextual-links-region-proxy-outline.outline-left {
  border-width: 0 0 0 1px;
}

/**
 * Contextual links.
 */
.contextual-links-wrapper {
  display: none;
}

.contextual-links-region-proxy .contextual-links-wrapper {
  display: block;
  left: 0;
  position: absolute;
  right: auto;
  top: -1px;
  z-index: 220;
}

.contextual-links-region-proxy .contextual-links-wrapper.edge-collision {
  left: auto; /* LTR */
  right: -3px; /* LTR */
}

.contextual-links-region-proxy .contextual-links-trigger {
  border: medium none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 230;
}

.contextual-links-region-proxy .contextual-links {
  display: none;
  list-style: none outside none;
  margin: 0;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  white-space: nowrap;
  z-index: 240;
}

.contextual-links-region-proxy .contextual-links.edge-collision {
  left: -1px;
  right: auto;
  z-index: 225;
}

.contextual-links-region-proxy .contextual-links-wrapper.edge-collision .contextual-links {
  z-index: 240;
}

.contextual-links-region-proxy .contextual-links li span,
.contextual-links-region-proxy .contextual-links li a {
  display: block;
  margin: 0;
}
